.main-nav {
    position: relative;
    height: 100px;
    width: 150px;
    &__btn {
        position: absolute;
        z-index: 1;
        width: 150px;
        height: 100px;
        background-image: url("./hamburger_menu.png");
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        background-color: lightgray;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        &:hover {
          background-size: 52%;
        }
        &:active {
          background-size: 48%;
        }  
    }    
    &__ul {
      background-color: lightgrey;
      padding: 2px;
      border-bottom-right-radius: 10px;
      position: absolute;
      width: 150px;
      transition: all;
      transition-duration: 500ms;
      transform: translateY(-350px);
      & li {
        height: 50px;
        padding: 10px;
        margin: auto;
        display: flex;
        align-items: center;
        font-size: 1.3em;
        & span:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        }
      
      & input {
        margin-right: 10px;
      }
      & #Home {
        background-color: lightgray;
      }
      & #Red {
        background-color: red;
      }
      & #Orange {
        background-color: orange;
      }
      & #Purple {
        background-color: purple;
      }
      & #Green {
        background-color: green;
        border-bottom-right-radius: 5px;
      }
    }
}


#color-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}


.show-menu {
  transform: translateY(95px);
}
